.why {
  padding: 100px 0;
  color: #fff;
  text-align: center;
  background-color: #05040b;

  &__headline {
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;

    & span {
      font-weight: 400;
      color: #05c2df;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 100px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      margin-bottom: 32px;
    }

    &__name {
      margin-bottom: 21px;
    }

    &__description {
      color: #929292;
    }
  }

  &__button {
    display: block;
    width: 200px;
    margin: 0 auto;

    line-height: 48px;
    border-radius: 4px;
    background-color: #05c2df;
  }
}
