html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

p,
a,
h1,
h2,
h3,
h4,
ul,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container-wrapper {
  margin: 0 auto;
  max-width: 1160px;
}
